/* FONTS */
@font-face {
  font-family: "Viaoda Libre";
  src: url(./font/Viaoda_Libre/ViaodaLibre-Regular.ttf);
}
/* RESET */
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow-y: visible;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

::root {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(0, 52, 82);
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px 30px 10px 30px;
  text-align: center;
}
.navbar a {
  text-decoration: none;
}
.navbar__logo {
  display: flex;
}
.navbar__logo h1 {
  margin-bottom: 0;
  font-family: "Viaoda Libre";
  font-size: 30px;
  align-content: center;
  text-align: center;
}
.navbar__logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navbar__menu {
  display: flex;
}
.navbar__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0;
  padding-left: 0;
}
.navbar__menu li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding: 10px 10px;
}
.navbar__menu li:hover {
  background-color: rgb(255, 165, 0);
  filter: opacity(20%);
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}
.navbar__menu a {
  color: rgb(255, 255, 255);
}

.navbar__menu--burger {
  display: none;
}

@media screen and (max-width: 1245px) {
  .navbar__menu {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    overflow: visible;
    font-family: sans-serif;
  }
  .navbar__menu--burger {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    position: relative;
    z-index: 2;
  }
  #burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
#burger-menu span:after {
    content: "";
  }
  #burger-menu span::before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span::after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.ferme span::before {
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    top: 0;
  }
  #burger-menu.ferme span {
    transform: rotate(-45deg);
    top: 16px;
    width: 27px;
  }
  #burger-menu.ferme span::after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.7);
  }
  #menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #menu li {
    list-style: none;
    background-color: rgba(0, 52, 82, 0.7);
  }
  #menu li:hover a:hover {
    background-color: rgb(255, 165, 0);
    filter: opacity(20%);
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 52, 82);
  }
  #menu a {
    color: rgb(255, 165, 0);
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
  }
}
.banniere {
  width: 100%;
  height: 525px;
  background-image: url("./assets/images/linus-mimietz-gvptKmonylk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 3px 5px 5px rgb(0, 0, 0);
}
.banniere p {
  display: flex;
  font-size: 60px;
  font-weight: 800;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  text-shadow: 3px 5px 5px rgb(0, 0, 0);
}
.banniere a {
  height: 40px;
  width: auto;
  border: none;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 165, 0);
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(0, 52, 82);
  transition: 0.3s;
  cursor: pointer;
  margin-top: 30px;
  text-shadow: none;
}
.banniere a:hover {
  background-color: rgb(0, 52, 82);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-transform: uppercase;
}

/* FIN BANNIERE */
/* CONTENU PRINCIPAL */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main h3 {
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
}

.realisation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.realisation__cartes {
  display: flex;
  width: 420px;
  height: 260px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border: 2px solid;
  border-color: rgb(0, 52, 82);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.realisation__cartes .realisation__cartes--contenu {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  overflow: hidden;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.realisation__cartes--contenu {
  color: rgb(255, 255, 255);
  align-content: center;
  align-items: center;
}
.realisation__cartes--contenu h2 {
  font-size: 14px;
  text-transform: capitalize;
  align-content: center;
  align-items: center;
}
.realisation__cartes--contenu p {
  font-size: 12px;
  align-content: center;
  align-items: center;
}
.realisation__cartes--media {
  width: 100%;
}
.realisation__cartes:hover .realisation__cartes--contenu {
  opacity: 1;
  align-content: center;
  align-items: center;
  padding-top: 8px;
}

/* DEBUT FORMATION */
.educ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.educ h4 {
  padding-bottom: 10px;
}
.educ__globale {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  max-width: 450px;
}
.educ__rncp, .educ__php, .educ__master {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}
.educ__rncp ul li {
  list-style: disc;
}
.educ__php ul li {
  list-style: none;
}

/* COMPETENCES */
.comp {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.comp__icones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
.comp__icones div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: auto;
}
.comp__icones p {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
}
.comp__icones i {
  margin-bottom: 10px;
  color: rgb(255, 165, 0);
}

/* EXPERIENCES PROFESSIONNELLES */
.exp__pro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 570px;
}
.exp h4 {
  padding-bottom: 10px;
}
.exp ul li {
  list-style: disc;
}
.exp__synergie {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}
.exp__nowsite {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}
.exp__randstad {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}
.exp__dropizi {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}
.exp__praxion {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}
.exp__covea {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}

/* CAROUSEL */
#carousel img {
  width: 100%;
  /* max-height: 15rem; */
  max-height: 28rem;
}

.carousel-control-prev {
  left: 30px;
  position: 0;
}

.carousel-control-next {
  right: 30px;
  position: 0;
}

.bouton_carousel {
  margin-top: 12rem;
  max-height: 50px;
  max-width: 50px;
  position: 0;
}

/* transition: transform 1s ease-in-out; */
.carousel-control-prev-icon {
  padding-left: 4rem;
  position: 0;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 52, 82);
}
footer h5 {
  font-size: 20px;
}
footer ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  padding-left: 0;
}
footer ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
footer ul li i {
  padding-right: 8px;
  align-self: center;
}
footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer .footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(0, 52, 82);
  opacity: 2;
  padding: 30px;
}
footer .footer__nav--contact, footer .footer__nav--menu {
  display: flex;
  flex-flow: column wrap;
}
footer .footer__nav--contact a:hover, footer .footer__nav--menu a:hover {
  color: rgb(255, 165, 0);
}
footer .footer__nav--contact {
  display: flex;
  flex-flow: column wrap;
  line-height: 30px;
}
footer .footer__nav--reseauxs {
  display: flex;
  flex-flow: column wrap;
}
footer .footer__nav--reseauxs-icones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 30px;
}
footer .footer__nav--reseauxs i:hover {
  color: rgb(255, 165, 0);
}
footer .footer__nav--chevron {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
footer .footer__nav--chevron a:hover {
  color: rgb(255, 165, 0);
}
footer .footer__copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 20px;
}

/* RESPONSIVE */
@media only screen and (min-width: 860px) and (max-width: 931px) {
  .banniere {
    background-position: top;
  }
  main {
    width: 90%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 860px) {
  .navbar {
    padding: 0px 0px 0px 0px;
  }
  .navbar__logo {
    margin-left: 50px;
  }
  #presentation img {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .banniere {
    background-position: top;
    font-size: 25px;
    height: 386px;
  }
  .banniere p {
    font-size: 45px;
  }
  .banniere a {
    font-size: 15px;
  }
  main {
    width: 95%;
    overflow: visible;
  }
  main .banniere__texte--l {
    font-size: 30px;
  }
  main .realisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .realisation__cartes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 520px) and (max-width: 640px) {
  header {
    width: 100%;
  }
  .banniere {
    width: 100%;
    background-position: top;
    font-size: 25px;
    height: 308px;
  }
  .banniere p {
    font-size: 30px;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .banniere a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 520px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .navbar__logo {
    padding-left: 20px;
  }
  #burger-menu {
    padding: 20px;
    margin: 20px;
  }
  h1 {
    font-size: 20px;
  }
  .banniere {
    width: 100%;
    height: 215px;
    background-position: top;
    font-size: 15px;
  }
  .banniere p {
    font-size: 18px;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .banniere a {
    margin-top: 0;
    font-size: 8px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #menu {
    width: 100%;
  }
  #menu ul {
    display: flex;
    justify-content: space-between;
  }
  #menu li {
    display: flex;
    justify-content: space-between;
  }
  #menu a {
    margin-bottom: 0px;
  }
  main {
    width: 95%;
    overflow: visible;
  }
  main .banniere__texte--l {
    font-size: 30px;
  }
  main .realisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .realisation__cartes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=assets.css.map */