/* FONTS */
@font-face {
  font-family: "Viaoda Libre";
  src: url(./font/Viaoda_Libre/ViaodaLibre-Regular.ttf);
}
/* RESET */
* {
  padding: 0;
  margin: 0;
}

html body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-shadow: 3px 5px 5px rgb(0, 0, 0);
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-image: url("/assets/images/linus-mimietz-gvptKmonylk-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: filter(opacity(3), contrast(3), blur(1px));
}

::root {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px 30px 10px 30px;
  text-align: center;
}
.navbar a {
  text-decoration: none;
}
.navbar__logo {
  display: flex;
}
.navbar__logo h1 {
  margin-bottom: 0;
  font-family: "Viaoda Libre";
  font-size: 30px;
  align-content: center;
  text-align: center;
}
.navbar__logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navbar__menu {
  display: flex;
}
.navbar__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0;
  padding-left: 0;
}
.navbar__menu li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding: 10px 10px;
}
.navbar__menu li:hover {
  background-color: rgb(255, 165, 0);
  filter: opacity(20%);
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}
.navbar__menu a {
  color: rgb(255, 255, 255);
}

.navbar__menu--burger {
  display: none;
}

@media screen and (max-width: 1245px) {
  .navbar__menu {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    overflow: visible;
    font-family: sans-serif;
  }
  .navbar__menu--burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }
  #burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    position: relative;
    z-index: 2;
  }
  #burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
#burger-menu span:after {
    content: "";
  }
  #burger-menu span::before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span::after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.ferme span::before {
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    top: 0;
  }
  #burger-menu.ferme span {
    transform: rotate(-45deg);
    top: 16px;
    width: 27px;
  }
  #burger-menu.ferme span::after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.7);
  }
  #menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #menu li {
    list-style: none;
    background-color: rgba(0, 52, 82, 0.7);
  }
  #menu li:hover a:hover {
    background-color: rgb(255, 165, 0);
    filter: opacity(20%);
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 52, 82);
  }
  #menu a {
    color: rgb(255, 165, 0);
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
  }
}
.banniere {
  width: 100%;
  height: 525px;
  background-size: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 3px 5px 5px rgb(0, 0, 0);
  background-image: rgba(128, 128, 128, 0.548);
  background: blur(9px);
}
.banniere p {
  display: flex;
  font-size: 60px;
  font-weight: 800;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  text-shadow: 3px 5px 5px rgb(0, 0, 0);
}
.banniere a {
  height: 40px;
  width: auto;
  border: none;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 165, 0);
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(0, 52, 82);
  transition: 0.3s;
  cursor: pointer;
  margin-top: 30px;
  text-shadow: none;
}
.banniere a:hover {
  background-color: rgb(0, 52, 82);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-transform: uppercase;
}

/* FIN BANNIERE */
/* CONTENU PRINCIPAL */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .main__content {
  width: 1000px;
  position: relative;
  background-color: rgba(191, 148, 63, 0.363);
  display: flex;
  flex-direction: column;
}
main h3 {
  text-align: center;
  margin: 50px 0;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
main h5 {
  text-align: center;
  margin-left: 0px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 30px;
}

.realisation__presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  height: 280px;
}
.realisation__presentation--container {
  width: 450px;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.realisation__presentation--container-space {
  padding: 8px;
}
.realisation__presentation img {
  width: 140px;
  height: 240px;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
}
.realisation__presentation #lilipinso1 {
  transform: skew(5deg, 1deg);
  border: 2px solid #fff;
}
.realisation__presentation #lilipinso3 {
  transform: skew(-5deg, -1deg);
  border: 2px solid #fff;
}
.realisation__presentation #sunpower1 {
  transform: skew(5deg, 1deg);
}
.realisation__presentation #sunpower3 {
  transform: skew(-5deg, -1deg);
}

.realisation__maquette,
.realisation__integration,
.realisation__back,
.realisation__site,
.realisation__independant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.realisation__cartes {
  display: flex;
  max-width: 380px;
  max-height: 250px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.realisation__cartes--contenu {
  color: rgb(255, 255, 255);
  align-content: center;
  align-items: center;
}
.realisation__cartes--contenu h2 {
  font-size: 14px;
  text-transform: capitalize;
  align-content: center;
  align-items: center;
}
.realisation__cartes--contenu p {
  font-size: 12px;
  align-content: center;
  align-items: center;
}
.realisation__cartes--media {
  width: 100%;
  height: 280px;
  display: flex;
}
.realisation__cartes--media #visitcard {
  width: 100%;
  align-self: center;
}
.realisation__cartes--media #todolist {
  width: 100%;
  align-self: center;
}

.realisation__cartes .realisation__cartes--contenu {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  overflow: hidden;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.realisation__cartes:hover .realisation__cartes--contenu {
  opacity: 1;
  align-content: center;
  align-items: center;
  padding-top: 8px;
}

.bg-body {
  background-color: #54607a;
}

/* DEBUT FORMATION */
.educ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.educ p {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
  text-align: center;
}
.educ__globale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.educ__rncp, .educ__php, .educ__master {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}
.educ__rncp ul li {
  list-style: disc;
}
.educ__php ul li {
  list-style: none;
}
.educ__image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.educ__image img {
  width: 100px;
}

#sablier {
  width: 80px;
  padding-bottom: 20px;
}

/* COMPETENCES */
.comp {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.comp__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
}
.comp__container-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comp__container--circle {
  width: 150px;
  margin-left: 10px;
}
.comp__container--circle-border {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: rgb(0, 52, 82);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.comp__container--circle-border-content {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.comp__container i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 165, 0);
}
.comp__container p {
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.comp__container #react,
.comp__container #github,
.comp__container #sass {
  color: rgb(255, 165, 0);
}

/* EXPERIENCES PROFESSIONNELLES */
.exp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.exp .exp__pro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  width: 100%;
}
.exp .exp__pro h4 {
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.exp .exp__pro ul {
  padding-left: 0;
}
.exp .exp__pro ul li {
  list-style: none;
}
.exp .exp__pro--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.exp .exp__pro--container-synergie, .exp .exp__pro--container-nowsite, .exp .exp__pro--container-randstad, .exp .exp__pro--container-dropizi, .exp .exp__pro--container-praxion, .exp .exp__pro--container-covea {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  width: 350px;
}

/* CAROUSEL */
.carousel {
  position: relative;
  height: 300px;
  overflow: hidden;
  padding: 0;
}
.carousel__container {
  position: absolute;
  display: flex;
  flex-direction: row;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: carouselAnimation;
          animation-name: carouselAnimation;
  right: 0;
  margin-bottom: 30px;
  bottom: 0;
}
.carousel__container--element {
  margin-right: 20px;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
}
.carousel__container--element-img {
  height: 300px;
  width: 533px;
}
@-webkit-keyframes carouselAnimation {
  100% {
    transform: translateX(calc(-150% + 500px));
  }
}
@keyframes carouselAnimation {
  100% {
    transform: translateX(calc(-150% + 500px));
  }
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 52, 82);
}
footer h5 {
  font-size: 20px;
  color: rgb(255, 165, 0);
}
footer ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  padding-left: 0;
}
footer ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
footer ul li i {
  padding-right: 8px;
  align-self: center;
}
footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer .footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(0, 52, 82);
  opacity: 2;
  padding: 30px;
}
footer .footer__nav--contact, footer .footer__nav--menu {
  display: flex;
  flex-flow: column wrap;
}
footer .footer__nav--contact a:hover, footer .footer__nav--menu a:hover {
  color: rgb(255, 165, 0);
}
footer .footer__nav--contact {
  display: flex;
  flex-flow: column wrap;
  line-height: 30px;
}
footer .footer__nav--reseauxs {
  display: flex;
  flex-flow: column wrap;
}
footer .footer__nav--reseauxs-icones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 30px;
}
footer .footer__nav--reseauxs i:hover {
  color: rgb(255, 165, 0);
}
footer .footer__nav--chevron {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
footer .footer__nav--chevron a:hover {
  color: rgb(255, 165, 0);
}
footer .footer__copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 20px;
}

/* RESPONSIVE */
@media only screen and (min-width: 860px) and (max-width: 931px) {
  .banniere {
    background-position: top;
  }
  main {
    width: 90%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 860px) {
  .navbar {
    padding: 0px 0px 0px 0px;
  }
  .navbar__logo {
    margin-left: 50px;
  }
  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .presentation img {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .banniere {
    background-position: top;
    font-size: 25px;
    height: 386px;
  }
  .banniere p {
    font-size: 45px;
  }
  .banniere a {
    font-size: 15px;
  }
  main {
    width: 95%;
    overflow: visible;
  }
  main .banniere__texte--l {
    font-size: 30px;
  }
  main .realisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .realisation__cartes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 520px) and (max-width: 640px) {
  header {
    width: 100%;
  }
  .banniere {
    width: 100%;
    background-position: top;
    font-size: 25px;
    height: 308px;
  }
  .banniere p {
    font-size: 30px;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .banniere a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 520px) {
  header {
    width: 100%;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .navbar__logo {
    padding-left: 20px;
  }
  #burger-menu {
    padding: 20px;
    margin: 20px;
  }
  h1 {
    font-size: 20px;
  }
  .banniere {
    width: 100%;
    height: 215px;
    background-position: top;
    font-size: 15px;
  }
  .banniere p {
    font-size: 18px;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .banniere a {
    margin-top: 0;
    font-size: 8px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #menu {
    width: 100%;
  }
  #menu ul {
    display: flex;
    justify-content: space-between;
  }
  #menu li {
    display: flex;
    justify-content: space-between;
  }
  #menu a {
    margin-bottom: 0px;
  }
  main {
    width: 100%;
    overflow: visible;
  }
  main .banniere__texte--l {
    font-size: 30px;
  }
  main .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .presentation__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .presentation__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  main .presentation__image img {
    height: 250px;
    box-shadow: 3px 5px 5px rgb(0, 0, 0);
  }
  main .realisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .realisation__cartes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 220px;
  }
  main .realisation__cartes--media {
    width: 100%;
  }
  main .comp__icones {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-content: center;
  }
  main .rounded-circle {
    margin-bottom: 20px;
  }
  main .educ h4 {
    font-size: 14px;
    text-align: center;
  }
  main .exp h4 {
    font-size: 12px;
    text-align: center;
  }
  main .exp__pro {
    margin-left: 25px;
  }
  main .exp__synergie {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .carousel {
    height: 150px;
  }
  main .carousel__container--element-img {
    height: 150px;
    width: 233px;
  }
  footer {
    width: 100%;
    margin-top: 30px;
  }
  footer h5 {
    text-align: center;
  }
  footer ul li {
    justify-content: center;
  }
  footer .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer__nav--menu, footer .footer__nav--contact, footer .footer__nav--reseauxs {
    padding-bottom: 30px;
    text-align: center;
  }
}/*# sourceMappingURL=assets.css.map */